body{
    background-image: url("img/windows.jpg");
    background-size: cover;
}
.btn{
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    top: -40px;
    width: 750px;
    border-radius: 10px;
    background-color: dodgerblue;
    color: white;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
    margin-left: 40px;
    margin-left: 27%;
    box-shadow: 3px 3px 5px black;
}
.titulo{
    font-size: 70px;
    font-style: italic;
    text-shadow: 3px 3px 7px blue;
    color: white;
    border-color: white;
    position: relative;
    z-index: 1;
}
.texto{
    top: -40px;
    font-size: 50px;
    text-shadow: 3px 3px 5px rgb(255, 251, 0);
    color: white;
    position: relative;
    z-index: 1;
}
